body {
	margin: 0;
	font-family: 'Arial', sans-serif;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}
.top-bar {
	background-color: black;
	color: white;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	display: flex;
	justify-content: left;
	color: white;
	text-decoration: none;
}

nav {
	float: right;
	margin-top: 10px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 40px;
	padding-top: 18px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

nav a:hover {
	background-color: #dc3d3d;
}

.main {
	flex-grow: 1;
	padding: 20 px;
	text-indent: 25px;
	font-family: 'Arial', sans-serif;
	flex: 1;
}

.main h1 h2 {
	flex-grow: 1;
	padding: 20px;

}

.resume {
	margin: 0;
	text-indent: 25px;
	font-family: 'Arial', sans-serif;
	flex: 1;
	padding: 20 px;
}

.foot p {
	bottom: 0;
}