body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
	background-color: lightgray;
}

h1 {
	font-weight: 400;
}

header {
	background-color: rgb(255, 0, 0);
}

.container {
	width: 100%;
	margin: 0;
	overflow: wrap;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	display: flex;
	justify-content: flex-end;
}


.title {
	display: flex;
	justify-content: flex-start;
	color: white;
}

.main {
	flex-grow: 1;
	padding: 20 px;
	text-indent: 25px;
	font-family: 'Arial', sans-serif;
	flex: 1;
}

.main h1 h2 {
	flex-grow: 1;
	padding: 20px;
}

.resume {
	margin: 0;
	text-indent: 25px;
	font-family: 'Arial', sans-serif;
	flex: 1;
	padding: 20 px;
}

.foot p {
	bottom: 0;
}