
* {
	margin: 0;
	padding: 0;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
	html {
		font-size: 60%;
	}
}
  
  /* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
	html {
		font-size: 58%;
	}
}
  
  /* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
	html {
		font-size: 55%;
	}
}


body {
	font-family: 'Poppins', sans-serif;
	background-color: lightgray;
	width: 100%;
}

html {
	box-sizing: border-box;
}

h1 {
	font-weight: 400;
}

img {
	display: block;
	width: 100%;
}


.navbar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: #1b1b32;
	border-bottom: 5px solid gold;
	position: fixed;
}

.nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 20px;
}

.nav ul {
	list-style: none;
}


.nav-list {
	display: flex;
	justify-content: space-between;

}

.nav-list a {
	display: flex;
	padding: 2rem;
	margin: 0;
	text-decoration: none;
	color: #FFF;
	display: block;
}

.nav-list a:hover {
	background-color: #FF0000;
	height: 100
}


.title {
	padding: 1.5rem;
	display: flex;
	justify-content: flex-start;
	color: white;
	font-weight: 400;
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
	background-color: #000;
	color: #FFF;
	flex-grow: 1;
}

.description {
	display: flex;
	justify-content: flex-start;
}

.schedule {
	display: flex;
	justify-content: flex-end;
}

.projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	padding: 10rem 2rem;
}

.contacts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: hsl(261deg, 45%, 73%);
	margin: 0;
}

.contacts h1 {
	color: #FFF;
	font-weight: 600;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
	width: 100%;
	height: 8vh;
}